[2019-12-23 15:42] sfinn85 opened #4 "Port relevant applications over to fasjson"
The current FAS has an read-only API that some of the Fedora applications use. These applications include zodbot and the sigul bridge.

In the new freeIPA / secuiritas world, such applications will interact with fasjson (https://github.com/fedora-infra/fasjson).

This ticket is to track the porting of these applications over to the new fasjson API

(description updated based on @relrod comment bel

[2019-12-23 15:44] sfinn85 opened #1 "Investigate what needs to be done with applications using python-fedora fas client"

[2020-01-06 12:16] puiterwijk commented on #1
Yes, they need to port to fasjson.

[2020-02-06 11:50] abompard opened #2 "It's not very easy to hack on fasjson"
Hacking on the project is currently a pretty involved thing, one needs a FreeIPA instance separate from the local machine (because FreeIPA automatically registers the host it's installed on as a client), one needs to install things to enable GSSAPI in Apache, etc.

It would be easier if there was a Vagrant setup (or equivalent) that a developer could use to make and test changes to the code.

For

[2020-02-06 12:00] abompard commented on #2
I would say "medium" if we can reuse most of the setup that we have on securitas. The downside is that fasjson and FreeIPA would be installed on the same host, so we won't be testing the GSSProxy setup that is shipped in the `config` folder, nor the client declaration step that is listed in the README, but it would be sufficient to hack on the code and test it.

[2020-02-06 12:10] abompard opened #3 "Continuous deployment of fasjson in CommuniShift"
As a developer, I'd like to have fasjson deployed alongside securitas in CommuniShift, in a CD manner.

It may be more complex than securitas because fasjson uses Kerberos / GSSAPI to authenticate.

Acceptance criteria:
- fasjson is deployed in CommuniShift
- the instance updates when code changes happen in fasjson
- it is linked to the same FreeIPA server as securitas

DoD: all of the above are m

[2020-02-06 12:20] abompard commented on #4
We need to build an exhaustive list of applications that use the FAS API. Then, for each of those apps, we need to start a local instance with the configuration pointing at the fasjson instance that we will have available thanks to #3, and make sure they keep working properly.

Acceptance criteria:
- Every app using the FAS API has been identified
- Local instances of those apps configured to use

[2020-02-10 10:11] tiran commented on #4
Before you port your applications, please compile a list of requirements. The fasjson code is a demo (aka *quick hack*). I literally spent less than 10 minutes to come up with the JSON response. At a bare minimum we should come up with a versioning scheme and proper error codes.

[2020-02-10 10:15] tiran commented on #2
You cannot have fasjson in the same Apache instance as IPA API server. The services have conflicting configuration.

You could also use containers here. It's possible to run IPA server in a container (root container, podman doesn't currently work for me).

[2020-02-10 10:56] abompard commented on #4
If I understand correctly, the point of fasjson is to mimic the current FAS API but getting data from LDAP. Was that not what you had in mind when you wrote it @tiran

Note to @sfinn85 : we need to schedule some User Stories to check that the code actually mimics what FAS currently returns, before we port applications to it.

[2020-02-10 11:01] abompard commented on #2
Thanks for the advice!

Yeah that was my plan B: make a Vagrant instance that would run the fasjson code in it's Apache instance and also run the FreeIPA docker image.

[2020-02-10 11:15] tiran commented on #4
The fasjson API is loosely based on the technical requirements specification from meetings between CPE and IPA managers and engineers. The implementation is a proof of concept (and even documented as PoC).

[2020-02-11 06:37] ryanlerch commented on #4
Okay, so the first item in the Acceptance Criteria is a good starting point for formulating some more formal requirements. What is actually using the current FAS API?

I have made a wikipage here to try to make a list, and have added the two mentioned in this thread, supybot-fedora and sigul. https://github.com/fedora-infra/fasjson/wiki

[2020-02-11 13:19] ryanlerch commented on #4
Just wondering what the best approach to this is.

Would the better approach be to keep the fasjson api simple (the current FAS one is far from simple), and then when porting the applications over, no use the python-fedora module at all?

[2020-02-11 13:24] puiterwijk commented on #4
So, I think we should stop using python-fedora for this, since this API should be restricted, in that it's only available for the applications that we know of.
This also comes back in the fact that this uses GSSAPI to authenticate, and then the IPA ACLs to determine which details an application can retrieve about users.

I think we explicitly do *not* want to offer an API to any random person/app

[2020-02-11 15:34] abompard commented on #4
OK, so the plan is *not* for fasjson to mimic the FAS API, but to have its own specific API and port applications over to it, correct?

Therefore we need to :
- take some time to think about API design
- implement it in fasjson
- create a client library in python if useful (even a simple one that wraps `requests` would be nice)
- port applications over to it.

Does this make sense?

[2020-02-13 17:40] sfinn85 commented on #1
Could be a duplicate.

[2020-02-18 10:25] sfinn85 commented on #3
Hi @abompard
What is the external action , we are waiting on here?

[2020-02-18 13:55] abompard commented on #3
The same as [securitas#64](https://github.com/fedora-infra/securitas/issues/64) which got unblocked, so this should be good to work on.

[2020-02-19 11:21] sfinn85 commented on #4
1 spike
2 large
3 large
4 large

[2020-02-20 10:51] abompard opened #6 "As a developer I want to design the best possible API so I can implement it in a stable future-proof manner"
Things to think about when designing the API:
- REST and HTTP links between results
- API version
- schema (food for thought: [OpenAPI](https://www.openapis.org/), [CoreAPI](https://www.coreapi.org/), [Swagger](https://swagger.io/), etc)
- handling of paginated results
- writing a client should be easy

Acceptance criteria:
- The schema format has been decided
- We have a good vision of how fasjso

[2020-02-20 14:46] abompard opened #7 "As a user I want a consistant and stable API so that I can use it in my application"
This should be based on the investigation in #6.

Acceptance criteria:
- API works
- API supports pagination where it is relevant
- API follows a standard kind of schema
- Schema is published
- Documentation is available to describe how to use the API (including examples)

DoD:
- All AC are met
- Unit tests are written
- Coverage is 100% (or less if justified)
- Code passes the bandit security ana

[2020-02-20 14:51] abompard opened #8 "As a user I want a python library that maps the API into convenient Python objects so I can easily use the API"
A python library would be most useful, it would be based on the work in #7 and could take advantage of the schema that the API publishes.

AC:
- The library works and maps API objects to Python objects
- The library is published to PyPI
- Documentation exists to explain how to use the library

DoD:
- All AC are met
- Unit tests are written
- Coverage is 100% (unless properly justified)
- Code pass

[2020-02-20 15:00] abompard opened #9 "As a developer I want an comprehensive list of applications that make queries to FAS so that I can port them to the new API"
A good first step would be to look into the infra Ansible repo for the `fedoraDummyUserPassword` variable, it means that this app is using the dummy FAS account to make queries.

Another way would be to grep all our source codes for the `fedoraproject.org/accounts` URL.

Once we have the list we need to look at what those apps do in their FAS queries. Whether it's read-only or not, what endpoints

[2020-02-21 08:47] abompard opened #10 "As an application owner, I want my application to use the fasjson API properly to get information about accounts and groups"
Using the list of applications created in #9 and the python library created in #8, all applications need to be ported to use the library.

AC:
- A pull request with the migration to fasjson has been created in each app. Please add a link to those pull requests in comments here.
- The pull request follows the app's standards and is merged
- If possible, a configuration flag is available to use the

[2020-02-21 08:49] abompard commented on #4
This has been split off in #6, #7, #8, #9 and #10 .

[2020-02-21 11:38] odra commented on #6
I would lean towards giving OpenAPI a try because:

* It has client generators: https://github.com/OpenAPITools/openapi-generator
* Pagination can be achieved by using links, such as: https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/petstore.yaml#L28
* Swagger tooling supports it

[2020-02-21 12:32] odra commented on #6
I am writing a simple example using the openapi spec

[2020-02-21 13:45] odra commented on #6
I'v' created a simple openapi sample:

[code]

The code can be used in swagger: https://editor.swagger.io/

I used the jsonprc spec for the error schema: https://www.jsonrpc.org/specification

[2020-02-25 11:40] StephenCoady commented on #6
This looks good. I don't have much experience with formal api spec - so the following might be dumb questions/statements:

- We should probably mention the licence.
- Do we need to mention auth at the top level? Do we know what that will look like wrt kerberos? It looks like `negotiate` was at least implemented: https://github.com/OAI/OpenAPI-Specification/issues/451
- I'm not sure the `/groups` i

[2020-02-25 12:41] odra commented on #6
* The license is GPLv3, the same as this repository.
* yes we do, I didn't add it since I didn't find anything in the spec reference
* If I got that right from the code, it  queries groups using your token, so it will return whatever groups you have access/read permission
* I only added methods that are already in the app code (whoami, groups and users)
 * I set error responses and the "default" o

[2020-02-25 14:39] StephenCoady commented on #6
I didn't see the PR, I thought you just wanted feedback on the comment :man_facepalming:

[2020-02-27 09:11] odra opened #12 "As a developer, I want a consistent way to handle API responses"
Related Issue: #7

Example

[code]

## Acceptance Criteria

* A response class that inherits from `flask.Response`
* A class that dumps objects into json strings with helper methods for  `result` or `error` responses
* The class should be set as the response class for the flask app object

## Definition of Done

The class being used as the flask response class.

[2020-02-27 09:13] odra opened #13 "As a developer, I want a standard way to deal with errors in my application."
Related Issue: #7

Example:

[code]

## Acceptance Criteria

Documentation: https://flask.palletsprojects.com/en/1.1.x/errorhandling/

* An error class to be used as de default base error exception in flask
* Other classes can inherit for this to specify specific behaviour
* This class needs to be registered as a flask error exception to be parsed as a valid response

## Definition of Done

Flask

[2020-02-27 09:15] abompard commented on #12
I think I would also be OK if you found a popular and well-maintained REST library for Flask that suits you.

Also I think the class (or library) we end up using should handle versionned APIs without making us write the code twice (something based on inheritance or having the version around in the method to do conditionals would be nice).

[2020-02-27 09:16] odra opened #14 "As a developer, I want to structure my API application in a way it can handle API versioning"
Related Issue: #7

I think it is good a idea to structure the application (api resources and libs if needed) in a "versioned" way so we easily manage and support different API versions such as `/v1/groups/`.

This may require some kind of folder/project architecture re-factoring.

## Acceptance Criteria

* The internal code API should manage versions where fit
* The Rest API routes should e versio

[2020-02-27 09:24] odra opened #15 "As an API Consumer, I want a REST API endpoint that retrieves the user identity"
Related Issue: #7

## Acceptance Criteria

* A route that returns the user identity - see the OpenAPI definition
* It should deal with predictable errors such as 401, 403, etc
* Unit tests for the http rest method using the flask test client

## Definition of Done

A valid REST API endpoint that follows the OpenAPI spec and can be used from any HTTP client tool such as swagger, curl, etc.

[2020-02-27 09:26] odra opened #16 "As an API Consumer, I want to query for group names to retrieve a list of group CN names with paginaiton support."
Related Issue: #7

## Acceptance Criteria

* A route that maps to `/v1/groups` - see OpenApi spec for details
* Returns a list strings that contains the CN for each group
* Pagination support if possible
* Unit tests using the flask test client: https://flask.palletsprojects.com/en/1.1.x/testing/
* Deal with expected errors such as 401, 403, 404, etc

## Definition of Done

A valid REST API endpoi

[2020-02-27 09:28] odra opened #17 "As an API Consumer, I want to retrieve all members from a given group"
Related Issue: #7

## Acceptance Criteria

* A route that maps to `/v1/groups/$group_name/members` - see OpenAPI spec for details
* Returns a list of user ids, logins or equivalent user info
* Pagination supported if possible
* Unit tests using the flask test client: https://flask.palletsprojects.com/en/1.1.x/testing/
* Deal with expected errors such as 401, 403, 404, etc

## Defition of Done

A v

[2020-02-27 09:30] odra opened #18 "As an API consumer, I want to retrieve available information from a given user"
Related Issue: #7

## Acceptance Criteria

* A route that maps to `/v1/users/$username` - see the OpenAPI spec for details
* Returns user info based on provided username
* Unit tests using the flask test client: https://flask.palletsprojects.com/en/1.1.x/testing/
* Deal with expected errors such as 401, 403, 404, etc

## Definition of Done

A valid REST API endpoint that follows the OpenAPI spec a

[2020-02-27 12:36] odra commented on #12
I took a look at some of them, I didn't see much value in using those framework but to those some libraries within flask itself such as https://flask-marshmallow.readthedocs.io/en/latest/ for data serialization for example.

About API versioning, I think flask blueprints would fit our needs since they provide a way to attach flask apps within flask apps with url prefix per app and etc.

[2020-02-27 14:07] #2 closed

[2020-02-27 15:57] odra opened #20 "As an API Consumer, I want to use my kerberos token to authenticate my API requests"
## Acceptance Criteria

* Check if the authentication header is set in the request (`Authorization: Negotiate ...`)
* If the header is not present the api should return a 401 error informing that the auth header is missing
* Should return authentication errors as early as possible
* Update the openapi spec if possible (probably as a "apiToken" type of auth)
* Use the header value which is an auth

[2020-03-03 11:43] sfinn85 commented on #7
Hi @odra
I pulled these issues into the "in- progress" lane. If the 7 user stories created cover everything that needs to be done to complete this user story. We can possibility delete this. What are your thoughts?

[2020-03-04 10:19] sfinn85 commented on #3
Downtime for Communishift approx 3 weeks

[2020-03-10 09:41] #12 closed

[2020-03-10 09:41] #14 closed

[2020-03-10 09:41] #13 closed

[2020-03-16 12:40] #18 closed

[2020-03-16 12:40] #17 closed

[2020-03-16 12:41] #16 closed

[2020-03-16 12:41] #15 closed

[2020-03-16 12:41] odra commented on #20
Not needed - authentication occurs in apache level.

[2020-03-16 12:41] #20 closed

[2020-03-16 12:42] odra commented on #7
All issues were solved so I am closing this one.

[2020-03-16 12:42] #7 closed

[2020-03-16 12:48] #6 closed

[2020-03-16 12:53] odra commented on #8
I think we could use some openapi spec code generating tool for this.

@abompard I could look at this one if that's ok

[2020-03-16 16:45] abompard commented on #8
Yep that sounds like an excellent option.

[2020-03-18 09:50] abompard commented on #8
@abompard to create a new repository for the client

[2020-03-18 13:46] abompard commented on #8
See https://github.com/fedora-infra/fasjson-client

[2020-03-26 10:16] abompard commented on #9
Can you look at that @amoloney1 please? Thanks :-)

[2020-03-28 08:01] abompard opened #25 "As a developer, I want to use a REST API framework so that I don't re-invent the wheel"
We want to write a REST API in Python following the OpenAPI standard. There are many web frameworks and libraries that can help us with that.

Here's what I think we should consider:
- [Flask-RestPlus](https://flask-restplus.readthedocs.io/en/stable/)
- [Connexion](https://connexion.readthedocs.io/)
- [FastAPI](https://fastapi.tiangolo.com/) -- not based on Flask but very promising

## Acceptance

[2020-04-07 10:36] abompard opened #28 "As a CentOS packager, I want to get a certificate signed by the IPA CA so that I can access CentOS servers"
CentOS uses x509 certificates to access build nodes, we need to provide a way for those users to get their certificates.

## Acceptance Criteria

* Users have an API endpoint to list the certificates they own (possibly using the `cert_find` IPA command)
* Users have an API endpoint to get their signed certificate if they have one (possibly using the `cert_show` IPA command).
* Users have an API en

[2020-04-08 09:35] StephenCoady opened #29 "As a developer I would like a test suite for the server"
## Acceptance Criteria
Creation of integration & unit tests
Coverage

## Definition of Done
Tests to be completed identified and documented
Reviewed by team/sign off by team

[2020-04-08 10:52] odra opened #30 "API Documentation"
## Acceptance Criteria

* sphinx based documentation
* docsring everything (description, input, output, etc): http://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html
* open-api spec sphinx docs: https://github.com/sphinx-contrib/openapi

## Definition of Done

Project and API documentation in HTML format

[2020-04-08 10:58] odra opened #31 "API spec endpoint"
As a developer, I want an API endpoint to retrieve the open-api specification in JSON format.

## Acceptance Criteria

* GET endpoint in /v1/
* Should return the specification content from the specs folder
* The `specs` folder should be included in the project distribution
* Should this endpoint be public (no authentication required)?

## Definition of Done

Retrieve the project's open-api spec de

[2020-04-08 11:36] odra opened #32 "API Health endpoint"
As a Developer, I want to provide a health endpoint for monitoring tools

## Acceptance Criteria

* A GET `/v1/health` endpoint that returns fasjson health status;
* It should return a JSON response, either result or error (as other methods);
* Add LDAP status if possible;
* Endpoint unit tests;
* Update open-api spec file(s) with the new method definition.

## Definition of Done

A new GET API me

[2020-04-08 13:21] abompard commented on #31
I think this endpoint should be public, so clients can get the spec and configure themselves before having to authenticate.

[2020-04-08 13:34] odra commented on #31
I thought so to, it will require a change in how the app handles authentication, it validates it for all API paths ATM - I think it could use some kind of "white_list' to list paths/path patterns that are allowed to be executed without any kind of authentication.

[2020-04-08 14:40] odra opened #33 "API Spec convertion script"
As a developer, I want a script that generates an open-api spec 2.0 file (aka swagger 2) from a open-api spec 3.0 file

## Acceptance Criteria

* A script that takes a open-api spec 3.0 file as input and writes a swagger 2.0 file as output
* Should generate both json (app usage) and yaml (human readable) formats

## Definition of Done

A swagger spec file being generated from a open-api spec 3.0 f

[2020-04-15 09:42] abompard commented on #25
I did have a look at them and while FastAPI's defaut support for async is attractive, our team's willingness to standardize on Flask is also very important to consider.

Looking at Connexion's supported authentication schemes, I'm not sure it would work well with our GSSAPI authentication, and the docs aren't clear on how to extend authentication schemes (but that can be researched).
So if there a

[2020-04-15 14:07] abompard commented on #9
Clément came up with a preliminary app list: https://hackmd.io/oX8Ks2FvR4CgNmhArfd2QQ

[2020-04-15 14:41] StephenCoady commented on #9
Thats great, thanks @abompard & @cverna. I think there might be some more so I will put them all together and then use that to make a plan with the codeowners if possible.

[2020-04-20 11:37] StephenCoady opened #49 "As a developer I would like fasjson to be of a standard format so that it is easier to develop, manage and deploy"
## Acceptance Criteria

* The project should follow a standard format
* The project should use a dependency manager
* The project should use `tox` to make managing and running common commands easier
* The dependencies should be clearly defined along with any other tools in a `pyproject.toml` file

## Definition of Done
All of the above are complete

[2020-04-21 10:01] abompard commented on #3
It's working!
[code]

[2020-04-21 10:01] #3 closed

[2020-04-21 11:43] bkmgit commented on #9
Is the hackmd list the authoritative one?

[2020-04-21 11:49] StephenCoady commented on #9
@bkmgit no, this project's wiki has some more [1]. Its a bit rough so I will be creating individual issues shortly to list them by app/project and taking it from there. any feedback you have is welcome.

[1] https://github.com/fedora-infra/fasjson/wiki

[2020-04-21 11:54] bkmgit commented on #9
Would be helpful to add nuancier https://github.com/fedora-infra/nuancier

[2020-04-21 11:59] StephenCoady commented on #9
@bkmgit can you point me to where nuancier uses FAS currently? Maybe I missed it when I looked first.

[2020-04-21 12:02] bkmgit commented on #9
See https://github.com/fedora-infra/nuancier/blob/master/nuancier/__init__.py
Am working on porting this to OIDC, though if this will be available soon, then would like to use it directly instead.

[2020-04-22 15:03] StephenCoady opened #52 "As a developer I would like a migration guide so that it is easy for me to know which method to use in fasjson_client"
We should provide a migration guide to allow developers easily identify which methods in the fasjson-client they will use instead of the method they are currently using in python-fedora.

The majority of apps use the following calls:

[code]

PR here: https://github.com/fedora-infra/fasjson-client/pull/14

[2020-04-22 15:09] StephenCoady commented on #52
Applications which rely on python-fedora:

[code]

I will create issues for each of these to track them being updated when python-fedora is updated.

[2020-04-22 15:45] #49 closed

[2020-04-22 17:01] nirik commented on #52
The following are dead and can be removed from your list:

hubs
fedmsg-genacls (I think this is now part of pagure or pagure-over-dist-git)
pkgdb2

The following will be going away someday, but still exist for now:
fedmsg_meta_fedora_infrastructure
fmn
pdc

[2020-04-23 14:38] abompard opened #55 "LDAP queries are not bound as the connecting user"
LDAP queries are not bound as the connecting user but with the host's keytab.

[code]

FASJSON should return the DN of `admin@EXAMPLE.TEST` and not the service.
Apache's mod_wsgi shows `admin@EXAMPLE.TEST` in the log files and sets `GSS_NAME` to that value as well. It also sets `KRB5CCNAME` to `FILE:/run/fasjson/ccaches/admin@EXAMPLE.TEST` in the request's environment.

The bind is done with:
[cod

[2020-04-23 15:03] StephenCoady commented on #52
thats great, thanks @nirik - will update. Are any of the other apps from this project's wiki jumping out at you as obselete?

[2020-04-23 15:22] StephenCoady opened #56 "badges needs to be updated to use the new API"
See: https://github.com/fedora-infra/fasjson/issues/52

https://pagure.io/fedora-badges has a dependency on python-fedora. Once python-fedora has been updated so too should this module.

[2020-04-23 15:22] StephenCoady opened #57 "datanomer needs to be updated to use the new API"
See: https://github.com/fedora-infra/fasjson/issues/52

[2020-04-23 15:23] StephenCoady opened #58 "fedmsg_meta_fedora_infrastructure needs to be updated to use the new API"
See: https://github.com/fedora-infra/fasjson/issues/52

https://github.com/fedora-infra/fedmsg_meta_fedora_infrastructure/blob/develop/fedmsg_meta_fedora_infrastructure/fasshim.py it uses python-fedora to hit '/user/list'

[2020-04-23 15:23] StephenCoady opened #59 "fmn needs to be updated to use the new API"
See: https://github.com/fedora-infra/fasjson/issues/52

https://github.com/fedora-infra/fmn/blob/abfc610bd443df2ae588f3d5ce4e1c689cd59c71/fmn/fmn_fasshim.py

same as fedmsg_meta_fedora_infrastructure #58

[2020-04-23 15:23] StephenCoady opened #60 "pdc needs to be updated to use the new API"
See: https://github.com/fedora-infra/fasjson/issues/52

https://github.com/fedora-infra/pdc-updater/blob/9287defd89085105c7f125ee03fbdd6ee4bb33a4/pdcupdater/services.py#L86

queries `/user/list/`

[2020-04-23 15:23] StephenCoady opened #61 "sigul needs to be updated to use the new API"
See: https://github.com/fedora-infra/fasjson/issues/52

[2020-04-23 15:23] StephenCoady opened #62 "elections needs to be updated to use the new API"
elections sets up python-fedora here: https://pagure.io/elections/blob/develop/f/fedora_elections/__init__.py#_68

and uses it to make a few calls (mostly person_by_username) throughout the app.

This should be changed to use fasjson_client instead (based on a configuration setting) so that once redeployed it wil use the new backend.

[2020-04-23 15:23] StephenCoady opened #63 "supybot-fedora needs to be updated to use the new API"
See: https://github.com/fedora-infra/fasjson/issues/52

uses python-fedora to hit

/account
/user/list
/json/person_by_username

[2020-04-23 15:23] StephenCoady opened #64 "fedscm-admin needs to be updated to use the new API"
Uses `python-fedora` to make basic FAS calls here: https://pagure.io/fedscm-admin/blob/master/f/fedscm_admin/fas.py

See: https://github.com/fedora-infra/fasjson/issues/52

[2020-04-23 16:02] StephenCoady opened #65 "The fedora infrastructure ansible repo needs to be updated to use the new API"
https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/batcave/files/retrieve-security-question.py

https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/batcave/files/sync-openshift-keys.py

There are multiple places within the ansible repo where configs will need to be updated also. Most apps have some config defined there.

Acceptance criteria:

* Every app defined

[2020-04-23 16:02] StephenCoady opened #66 "fedscm-admin needs to be updated to use the new API"
https://pagure.io/fedscm-admin/blob/master/f/fedscm_admin/fas.py

closing as duplicate

[2020-04-23 16:02] StephenCoady opened #67 "nuancier needs to be updated to use the new API"
Uses flask_fas_openid here: https://github.com/fedora-infra/nuancier/blob/master/nuancier/__init__.py

[2020-04-23 16:03] StephenCoady opened #68 "pagure distgit needs to be updated to use the new API"
the ansible playbook here: https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/distgit/pagure/files/fas2.py creates the requests to contact FAS, these will need to be updated.

this possibly needs to be consolidated with python-fedora once that update happens.

[2020-04-23 16:06] StephenCoady opened #69 "membership-map needs to be updated to use the new API"
membership-map.py and membership-mwclient.py here: https://pagure.io/fedora-infra/ansible/blob/master/f/roles/membership-map/build/templates both use python-fedora to communicate with FAS.

[2020-04-23 16:09] StephenCoady opened #70 "List of fedmsg-consumers that need to be updated"
Each of the consumers below need to be updated to use fasjson instead of FAS. They are simple config changes to match the updates from their respective tickets.

- badges-awarder.py --> https://pagure.io/fedora-infra/ansible/blob/master/f/roles/badges/backend/templates/badges-awarder.py#n38
- fmn.consumer.py --> https://pagure.io/fedora-infra/ansible/blob/master/f/roles/notifs/backend/templates/fm

[2020-04-23 16:11] StephenCoady opened #71 "the new hotness needs to be updated for the new API"
the-new-hotness config.toml seems to use the old FAS dummy user account here: https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/openshift-apps/the-new-hotness/templates/config.toml#n153

[2020-04-23 16:12] StephenCoady opened #72 "mirrormanager2 needs to be updated to use the new API"
Uses flask fas openID here: https://github.com/fedora-infra/mirrormanager2/blob/master/mirrormanager2/app.py#L92

[2020-04-24 06:32] mattiaverga commented on #52
bodhi-client relies on python-fedora

[2020-04-24 07:35] abompard commented on #55
Progress! The `KRB5CCNAME` environment variable that Apache set was the *request* environment, not the *process* environment. I've set `os.environ["KRB5CCNAME"] = request.environ["KRB5CCNAME"]` and now I have a different error message:
[code]

The file is definitely not empty but something seems odd:
[code]

Could it be related to GSSProxy?

[2020-04-24 08:08] tiran commented on #55
@simo @frozencemetery please assist

[2020-04-25 08:44] abompard commented on #55
I can reproduce the error with this very simple wsgi app:

[code]

[2020-04-25 08:47] abompard commented on #55
And this is my Apache config file:
[code]

[2020-04-28 06:56] abompard commented on #55
Hey folks, I'd really love to have some help with this, I don't know where to look for this issue. I have started reading on Kerberos delegation in `mod_wsgi` and testing things but it's not going anywhere. If you had any directions to point me to I would be very grateful.

[2020-04-28 07:10] tiran commented on #55
I think it's missing the s4u2proxy service delegation flag. We can re-use the ``ipa-ldap-delegation-targets`` target that contains all IPA server LDAP principals. Please give this a try:

[code]

[2020-04-28 07:11] abbra commented on #55
Remember that Kerberos (or GSSAPI with krb5 mechanism) authentication is not transitive. You as a user authenticate to the service. The service cannot on its own to turn to other service and act on your behalf. It has to be allowed to do so by the KDC. This is called 'Services for Users' extensions (S4U) and there are two of those:
 - S4U2Proxy, where a user authenticates to a service, then servic

[2020-04-28 07:48] abompard commented on #55
Thanks a lot for your help, I'm going to test that right away. I didn't realize service delegation had to be enabled per-service in IPA. Just running the 3 commands was not sufficient, @tiran pointed me that the gssproxy configuration was missing the `allow_constrained_delegation = true` line.

This is now working! I owe you all a few beverages of your choice whenever we're allowed to meet people

[2020-04-28 08:12] abbra commented on #55
you're welcome. GSS-Proxy did not exist when all this was written. ;)

[2020-04-29 14:38] #25 closed

[2020-04-29 14:38] #55 closed

[2020-04-29 14:38] #29 closed

[2020-05-07 21:57] abompard commented on #31
This was done in #73

[2020-05-07 21:57] #31 closed

[2020-05-07 22:22] StephenCoady commented on #31
Yep, pinged you on chat today about it about re-assigning and closing.

[2020-05-12 08:58] #32 closed

[2020-05-12 16:59] abompard commented on #28
I'm now working on a script that would generate the CSR client-side and get it signed through the new API. We may include this script in fasjson-client but maybe not, it would still be useful as a reference implementation to update [the script](https://github.com/bstinsonmhk/centos-packager/blob/master/SOURCES/centos-cert) that CentOS currently uses.

[2020-05-15 14:13] abompard commented on #28
The client part is in fedora-infra/fasjson-client#11.

[2020-05-19 10:38] StephenCoady commented on #60
pull request opened here: https://github.com/fedora-infra/pdc-updater/pull/89

[2020-05-20 19:46] StephenCoady commented on #62
FYI @ryanlerch

[2020-05-21 16:25] StephenCoady commented on #56
First PR for this one here: https://github.com/fedora-infra/fedbadges/pull/77

[2020-05-22 15:37] #1 closed

[2020-05-25 06:57] #57 closed

[2020-05-25 07:00] #66 closed

[2020-05-26 09:13] #28 closed

[2020-05-27 13:11] StephenCoady commented on #58
PR is here: https://github.com/fedora-infra/fedmsg_meta_fedora_infrastructure/pull/503

[2020-06-03 14:44] pypingou commented on #67
hm, flask_fas_openid shouldn't be a problem with noggin or fasjson, is it?

[2020-06-03 14:44] pypingou commented on #68
That's no longer used

[2020-06-05 11:13] StephenCoady commented on #67
I initially just marked any reference to FAS or python-fedora. But I would still have thought there would need to be some update either here for when we move or at least in the plugin itself?

[2020-06-05 11:14] StephenCoady commented on #68
Great, thanks!

[2020-06-05 11:14] #68 closed

[2020-06-05 11:23] pypingou commented on #67
This is the OpenID flask plugin that's somewhat customized for FAS, but since this is a flask plugin to use OpenID, it doesn't interact any with FAS, just ipsilon and the app :)

[2020-06-09 09:46] StephenCoady opened #89 "As a user I would like the ability to search for other users based on their email, nick etc."
## Acceptance Criteria

* A search endpoint is available on FASJson
* Any value can be passed and it will match against multiple fields
* Multiple users can be returned for one search

## Definition of Done

* all of the above are complete
* testing
* documentation

[2020-06-09 09:58] tiran commented on #89
Two quick notes:
* all fields must be indexed
* IPA let's you configure seacrch fields with ``ipa config-mod`` / ``ipaUserSearchFields`` attribute in ``cn=ipaConfig,cn=etc,$REALM``

[code]

[2020-06-09 10:23] tiran commented on #89
[code]

Update search fields. IPA verifies that search fields apply to users, so we need to add ``fasuser`` to default object classes for users:

[code]

Search again
[code]

The field is indexed by ``cn=fasIRCNick,cn=index,cn=userRoot,cn=ldbm database,cn=plugins,cn=config``.

[2020-06-09 12:52] StephenCoady commented on #89
Thats great @tiran. Thanks very much for that, will save me a lot of time.

[2020-06-09 13:57] StephenCoady commented on #89
@tiran am I correct in saying these lines in freeipa-fas do the same thing?

https://github.com/fedora-infra/freeipa-fas/blob/master/updates/99-fas.update#L38-L45

[2020-06-09 14:45] tiran commented on #89
These lines create the database index to make searching over fasIRCNick more efficient.

The ``ipa config-mod`` lines modify the search filters that are used by ``ipa user-find``. The command ``ipa user-find myircnick`` performs a kind of full text search on multiple attributes. The resulting query filter is ``filter="(&(|(uid=*myircnick*)(givenName=*myircnick*)(sn=*myircnick*)(telephoneNumber=*my

[2020-06-09 14:51] StephenCoady commented on #59
PR here: https://github.com/fedora-infra/fmn/pull/310

[2020-06-11 09:49] abompard commented on #89
Is this the sort of config change that can be done in `freeipa-fas/update/89-fas.update`?

[2020-06-16 12:29] ryanlerch commented on #62
PR over on Pagure here:

https://pagure.io/elections/pull-request/89

[2020-06-17 04:20] #30 closed

[2020-06-24 15:41] #89 closed

[2020-06-25 08:42] abompard opened #99 "The packager-bugzilla-sync toddler plugin needs to be updated to use FASJSON"
~~https://pagure.io/Fedora-Infra/packager-sync-bz~~
https://pagure.io/fedora-infra/toddlers/blob/master/f/toddlers/plugins/packager_bugzilla_sync.py

It uses `person_by_username` and `group_by_name`: https://pagure.io/fedora-infra/packager-sync-bz/blob/master/f/packager_sync_bz/fedora_account.py

[2020-06-25 08:47] abompard opened #100 "The distgit-bugzilla-sync script needs to be updated to use FASJSON"
Code lives at: https://pagure.io/fedora-infra/distgit-bugzilla-sync/

It uses:
- people_by_key
- group_by_name
- person_by_username

https://pagure.io/fedora-infra/distgit-bugzilla-sync/blob/master/f/distgit_bugzilla_sync/script.py

[2020-06-26 13:12] StephenCoady commented on #70
This ticket can't really be progressed until we have the url for fasjson and each respective app knows to use it. Once we have that, these roles can be updated.

[2020-07-02 14:50] pypingou commented on #99
This is being ported to toddlers

[2020-07-02 14:50] pypingou commented on #100
This is being ported to toddlers, so the work will more likely happen over there

[2020-07-09 09:49] amoloney1 commented on #10
https://hackmd.io/i9_lU140SNmdx51xGU_XAQ

Will add all applications to this list and send to fedora lists once all applications are in 'Done, Waiting on 3rd Party Review' so maintainers can review changes.

[2020-07-13 03:26] ryanlerch commented on #99
@pypingou so can we close this one here then?

[2020-07-13 03:26] ryanlerch commented on #100
@pypingou so can we close this one here then?

[2020-07-13 03:56] ryanlerch commented on #69
Just wondering if anyone knows the status of these scripts. Both seem to not be working (and unmaintained) for multiple years currently. So not sure if it's worth us having to fix the current issues to then port to the noggin.

# membership-mwclient.py

this script is supposed to generate this wikipage: https://fedoraproject.org/wiki/Ambassadors/MembershipService/Verification but that page has bee

[2020-07-13 09:52] pypingou commented on #100
Probably not, we could just open a ticket for toddler and close this one :)

[2020-07-13 09:52] pypingou commented on #99
Probably not, we could just open a ticket for toddler and close this one :)

[2020-07-13 09:53] pypingou commented on #99
Note: this one has already been ported to toddlers

[2020-07-13 09:53] pypingou commented on #100
Note that this is still needs to be ported to toddlers

[2020-07-13 10:13] #69 closed

[2020-07-20 09:41] nphilipp commented on #65
Ansible moved to Pagure, these links work:

* https://pagure.io/fedora-infra/ansible/blob/master/f/roles/batcave/files/retrieve-security-question.py
* https://pagure.io/fedora-infra/ansible/blob/master/f/roles/batcave/files/sync-openshift-keys.py

[2020-07-20 10:03] ryanlerch commented on #65
I think we can safely ignore https://pagure.io/fedora-infra/ansible/blob/master/f/roles/batcave/files/retrieve-security-question.py since it wont be needed in a post-FAS world

[2020-07-20 11:17] ryanlerch commented on #65
So [retrieve-security-question.py](https://pagure.io/fedora-infra/ansible/blob/master/f/roles/batcave/files/retrieve-security-question.py) will actually no longer be needed after the move to Noggin / FreeIPA, so here is the PR to remove it: https://pagure.io/fedora-infra/ansible/pull-request/169

And the other script, [sync-openshift-keys.py](https://pagure.io/fedora-infra/ansible/blob/master/f/ro

[2020-07-21 17:28] #63 closed

[2020-08-09 01:03] bt0DotNinja opened #110 "Geographical Information about"
Code lives at https://pagure.io/fedora-commops/geofp

It uses:

- group_members
- people_by_key
- group_by_name

It's a simple class to get Geographical information from the users account

[2020-08-18 07:44] dependabot-preview[bot] opened #112 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fedora-infra/update-logs/44107910).

[2020-08-18 07:55] tiran commented on #112
Why is fasjson using requests-kerberos in the first place? Please use requests-gssapi instead. The package requests-gssapi was created by Robby from the IPA team. It uses the modern gssapi bindings instead of old pykerberos bindings.

[2020-08-18 09:05] abompard commented on #112
@tiran  It was a dependency of `python-freeipa`, but now that I got [this PR](https://github.com/opennode/python-freeipa/pull/40) merged we can switch to requests-gssapi.

[2020-08-19 07:59] #112 closed, assigned to nobody

[2020-09-08 20:16] abompard opened #113 "As a user, I want to list the agreements that a user has signed"
## Acceptance Criteria

* the list of agreement names is available either when getting a user directly or when getting a specific resource like `/users/<username>/agreements/`.

## Definition of Done

* AC is met
* All tests pass
* Documentation is valid

[2020-09-08 20:17] abompard commented on #113
We'll need that for the Ipsilon info plugin at least. FYI, @ryanlerch

[2020-09-11 08:21] #113 closed, assigned to nobody

[2020-10-14 13:19] amoloney1 commented on #10
linked to #100

[2020-10-19 13:10] StephenCoady commented on #100
@pypingou do we need both this and #99? to me they look the same since the script is contained in the plugin in toddlers now.

[2020-10-19 13:44] pypingou commented on #100
It has been ported to toddlers yes, so we can drop this ticket.

I still need to deploy that toddler, but I should be able to do it before noggin is deployed :)

[2020-10-19 13:59] StephenCoady commented on #100
OK great thanks. I will take a look at porting the code now.

[2020-10-19 13:59] #100 closed, assigned to nobody

[2020-11-03 10:27] abompard opened #122 "As a User, I want to query users according to their email addresses"
The toddlers app has a function that queries users with their email address, as exposed by the FAS endpoint `get_user_by_email`. We need that feature in fasjson.

Suggestion: use query string parsing on the `/users/` endpoint.

## Acceptance Criteria
* There's a way to query users according to their email address.
* At first we only want to support searching the full email address, but in the futu

[2020-11-03 10:29] #8 closed

[2020-11-03 11:31] abompard commented on #122
Duplicate of #89

[2020-11-03 11:31] #122 closed, assigned to nobody

[2020-11-03 12:47] StephenCoady commented on #99
PR for review: https://pagure.io/fedora-infra/toddlers/pull-request/57

[2020-11-03 13:40] abompard opened #123 "As a user, I would like to know whether a user is a member of a group without having to retrieve the entire member list"
Some applications would like a simple and lightweight way to know if a user is a member of a group. Right now they can only get the group with its entire member list and look in that list, which is not great.

## Acceptance Criteria

* FASJSON has a new endpoint under the `/groups/<groupname>/` tree (such as `/groups/packaging/is-member/alice`
* The endpoint returns a simple boolean
* The endpoint

[2020-11-10 14:20] #123 closed, assigned to abompard

[2020-11-16 16:04] nphilipp commented on #58
I've checked the upstream PR and there were no outstanding requests for change (marked the outdated conversations as resolved). I've rebased the PR onto latest HEAD.

[2020-11-18 14:15] nphilipp commented on #58
Found that this needs to work with Python 2.7, added a fasjson-client shim (because that one only works on Python >= 3.6), debugging CI failures.

[2020-11-26 12:26] #99 closed, assigned to StephenCoady

[2020-11-26 12:27] #71 closed

[2020-11-26 12:27] #72 closed

[2020-11-26 15:20] StephenCoady commented on #70
Closed accidentally.

[2020-11-26 15:21] #62 closed

[2020-12-02 07:15] dependabot-preview[bot] opened #126 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fedora-infra/update-logs/57410581).

[2020-12-03 07:22] #126 closed, assigned to nobody

[2021-01-06 16:58] StephenCoady commented on #64
PR for review here: https://pagure.io/fedscm-admin/pull-request/53

[2021-01-11 09:42] ryanlerch commented on #65
https://pagure.io/fedora-infra/ansible/pull-request/168 is merged.

The only other one that isnt is https://pagure.io/fedora-infra/ansible/pull-request/169 because this removes a script that might be used until FAS is decomissioned. IMHO this one is basically done, we just need to merge PR169 afterwards. (it really is just cleanup, so we can close this one as fixed IMHO)

[2021-02-01 14:09] #4 closed

[2021-02-01 14:09] #9 closed

[2021-02-01 14:09] #52 closed

[2021-02-01 14:09] #56 closed

[2021-02-01 14:09] #58 closed

[2021-02-01 14:09] #59 closed

[2021-02-01 14:09] #60 closed

[2021-02-01 14:09] #64 closed

[2021-02-01 14:09] #65 closed

[2021-02-01 14:09] #70 closed

[2021-02-01 14:14] StephenCoady opened #133 "As a developer I would like the search limit increased so that I can return a list of all users"
## Expected Behavior
When I try to retrieve a list of all users via fasjson I should receive a list.

## Actual Behavior
If the list of users is large, it triggers a `ldap.ADMINLIMIT_EXCEEDED: {'msgtype': 100, 'msgid': 32, 'result': 11, 'desc': 'Administrative limit exceeded'` error.

## Steps to Reproduce the Problem

* on staging use fasjson-client to perform `.list_users()`

## Solution

Increa

[2021-02-03 16:15] StephenCoady opened #134 "When a group has no sponsors, /group/sponsors/ should return an empty list similar to other endpoints"
## Expected Behavior
When fetching sponsors of a group which has none, I would expect an empty list returned. This is similar to other endpoints.

## Actual Behavior
500 internal error due to a KeyError.

[2021-02-03 16:22] #134 closed, assigned to StephenCoady

[2021-02-22 12:53] arrfab opened #140 "Since IPA STG was reinstalled, fasjson doesn't return all group members"
Something that was working before the IPA STG reinstall and that doesn't work anymore :
When querying fasjson stg for group members, fasjson returns only 10 members while the group in IPA has more than that.
Calling fasjson with requests like `/v1/groups/%s/members/?page_size=1000` doesn't even return all users, and the returned json by fasjson only has 10 items and also shows this : `u'page': {u'

[2021-02-22 12:56] arrfab commented on #140
FWIW, the group I'm querying is `centosproject-email-aliases`

[2021-02-24 15:15] #133 closed, assigned to nobody

[2021-02-25 15:07] StephenCoady commented on #140
@arrfab @abompard I can take a look at this, but I've tried to reproduce and don't seem to be able to. Can you confirm the same?

I'm currently getting `{'total_results': 97, 'page_size': 1000, 'page_number': 1, 'total_pages': 1}`

[2021-02-25 15:10] arrfab commented on #140
Yes, I confirm 97 here too (automatically generated through script), and it was due to the memberOf issue that @abompard was working on .. can have a look at real number to see if it's all there, or still some are missing.
So issue wasn't in fasjson, but directly in IPA (as discussed in the last days on irc)

[2021-02-25 15:17] StephenCoady commented on #140
Ah, I somehow didn't make the connection. I was going to close but I'll leave @abompard repurpose the ticket then since he has done work on it. Thanks!

[2021-02-25 15:35] arrfab commented on #140
Let me close this one, as it seems now resolved

[2021-02-25 15:36] #140 closed, assigned to abompard

[2021-03-29 09:58] pypingou opened #188 "fedora-contributor does not show in my list of groups"
When authenticating on fedocal via OIDC I printed the list of groups for debugging. It did not include the `fedora-contributor` group.

Abompard told me this is a bug :)

[2021-04-07 07:40] abompard opened #144 "As a user, I want to query more object fields in the list_* endpoints"
@arrfab has a script that builds the mail aliases from the members of a group. For that, he needs to query fasjson's `list_group_member` endpoint which returns a list of usernames. Then he has to query each username in turn to get their email address. This makes a lot of requests, periodically run every 10 minutes or so.

We could use [field masks](https://flask-restx.readthedocs.io/en/latest/mask

[2021-04-07 07:51] arrfab commented on #144
For reference, that's what I pushed to centos infra to build aliases for postfix (through virtusertable) :
https://github.com/CentOS/ansible-role-postfix/blob/master/templates/gen-virtusertable-from-fasjson.j2

So yes, asking member and then parsing result, and query for each user details to retrieve email

[2021-04-07 08:25] abompard commented on #188
It is indeed not returned by sssd, since I don't see it when I run `id abompard`. Maybe an SSSd issue?

[2021-04-16 11:31] abompard commented on #188
Actually it looks like sssd & ipsilon handle it fine, so it's just Noggin.

[2021-04-30 16:28] sgallagher opened #186 "RFE: Support for retrieving a user's SSH public key(s)"
## Acceptance Criteria

* fasjson includes the SSH public key(s) of a user, ideally in the format expected by openssh's `authorized_keys` file.

## Definition of Done
The deployed, production version of fasjson in the Fedora Project includes this information.

[2021-04-30 16:31] sgallagher commented on #186
For further context: I want to develop a plugin for Anaconda to allow users to authenticate to FAS during the installation process and deploy their new system with SSH keys for remote access.

[2021-04-30 16:41] nirik commented on #186
FWIW, I'd be fine if this did not require auth. :) Just get a list of ssh keys associated with a list of users.

[2021-04-30 16:43] sgallagher commented on #186
Right, there's no need for the fasjson to require auth to retrieve this information.

[2021-05-03 10:30] abompard commented on #188
This should be fixed by the latest deployment, could you confirm please @pypingou ?

[2021-05-03 11:21] pypingou commented on #188
@abompard ``curl --negotiate -u : "https://fasjson.fedoraproject.org/v1/users/pingou/groups/"`` does not show it, is this expected?

[2021-05-03 11:29] abompard commented on #188
Ah, I knew I was misunderstanding something. Okay, this is actually a fasjson bug, I'll transfer it over there.

[2021-05-03 11:38] pypingou commented on #188
It may have been both, I can confirm seeing it in the UI now at least, thanks
for that! :)

[2021-05-10 07:53] #188 closed, assigned to abompard

[2021-05-10 08:03] #186 closed, assigned to abompard

[2021-05-10 08:20] #144 closed, assigned to abompard

[2021-05-21 07:37] abompard opened #212 "Improve the usage documentation"
The usage documentation is in a pretty sorry state, it should be improved. Don't forget to mention field masks in there too.

[2021-05-22 17:16] FrostyX opened #213 "Missing optional user fields"
The `fasjson_client` doesn't return all user fields. Please try this reproducer

[code]

In comparison to viewing my profile in the web browser https://accounts.fedoraproject.org/user/frostyx/ , the following fields are missing:

- Website
- Github
- Wiki
- Fedora people

The fields that I personally don't have configured but I observed that is missing for other profiles are

- RHBZ email
- Gitlab

[2021-06-11 06:59] #213 closed, assigned to abompard

[2021-11-04 11:36] abompard opened #257 "User privacy setting is not taken into account on the search endpoint"
## Expected Behavior

Searches for users who have enabled the `private` setting should not return private fields

## Actual Behavior

The private fields are returned as if the `private` setting was false

[2021-11-04 13:05] #257 closed, assigned to nobody

[2021-11-05 12:25] abompard opened #265 "Upgrade to Flask 2.0"
Flask 2.0 is out with all its subprojects, we should upgrade.

[2021-11-05 12:33] abompard opened #266 "Allow searching for the exact value"
Currently all search queries are searching for a substring of the provided value (except for mail which is exact string only). It would make sense to let the user choose whether they want a substring search or not. Example: zodbot wants to search for an IRC nickname and is only interested in exact matches.

I can see two ways of doing it:
- add a separate boolean search parameter such as `exact` w

[2022-01-03 10:02] abompard opened #288 "Return the `fasrhbzemail` attribute of users"
## Acceptance Criteria

* The `fasRHBZEmail` attribute value is returned when the user has set it

## Definition of Done

* AC is met
* Unit tests pass with 100% coverage
* Docs are updated

[2022-01-03 16:13] abompard commented on #265
Done in 511be79.

[2022-01-03 16:13] #265 closed, assigned to nobody

[2022-01-11 16:44] phsmoura commented on #288
Hi @abompard, I'd like to work on that one, can I do it?

[2022-01-11 16:52] abompard commented on #288
Hi! Actually @humaton had expressed his interest in working on this, sorry! But there are plenty of other issues tagged with "Good First Issue" if you're looking for inspiration :-)

[2022-01-11 16:53] abompard commented on #288
(hmm actually not on FASJSON, but in [Noggin](https://github.com/fedora-infra/noggin/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) there is :-) )

[2022-01-11 16:56] abompard commented on #288
Oh, I see you've talked to him in a meeting already, then it's all good, go for it!
I'm here if you have any question on the dev environment or on what needs to be done.

[2022-02-11 11:06] kparal opened #309 "curl examples don't work because of missing '--negotiate -u :'"
Looking at https://fasjson.fedoraproject.org/docs/v1/ the examples worked for me in a browser, but didn't work on the command line:

[code]

It took me some time to figure out why. The [other documentation](https://fasjson.readthedocs.io/en/latest/usage.html) makes it clear that those `curl` commands need to include `--negotiate -u :` :

[code]

Please fix the documentation to include those args,

[2022-02-11 11:08] kparal opened #310 "mention the interactive API docs"
The interactive API docs are very useful:
https://fasjson.fedoraproject.org/docs/v1/

However, I haven't found them linked from anywhere. Neither from the project docs https://fasjson.readthedocs.io/en/latest/ nor from the project readme. Please link it from somewhere, so that people can find it.

[2022-02-28 16:05] #288 closed, assigned to nobody

[2022-03-01 14:40] abompard commented on #309
It's unfortunately impossible to do at the moment. This documentation is auto-generated by Swagger, and the configuration option required to change the example curl command is not available through the flask-restx library we use. I've opened [a ticket on flask-restx](https://github.com/python-restx/flask-restx/issues/418) for this feature request.

[2022-03-01 14:52] #310 closed, assigned to nobody

[2022-04-25 11:02] StephenCoady opened #331 "As a member of fedora-infra, I want to have fasjson packaged automatically"
## Acceptance Criteria

* packit.yml is added to the project
* once added, we can successfully create released rpms for fasjson
* fasjson is available on src.fedoraproject.org

[2022-05-13 10:58] StephenCoady commented on #331
Fasjson depends on flask-mod-auth-gssapi and requests-kerberos@0.14.0, neither of which are available in fedora.

So I've started the process to package flask-mod-auth-gssapi as per https://github.com/fedora-infra/automate-packaging-tracker/issues/5 and I've created a PR to drop the minimum version of requests-kerberos to 0.12.0 in #335. Once both of these land I should be able to build fasjson an

[2022-05-17 11:24] StephenCoady commented on #331
bugzilla for new package submitted here: https://bugzilla.redhat.com/bugzilla/show_bug.cgi?id=2087119

[2022-05-17 11:35] StephenCoady commented on #331
also submitted #337 to make it possible to package fasjson.

[2022-06-30 08:35] abompard commented on #212
Also document which fields match on substrings and which match exactly.

[2022-06-30 08:37] abompard commented on #266
An alternative would be to add the `_contains` term suffix to match on substrings, and keep the plain term matching exactly, but that would break backwards compatibility.

[2022-06-30 09:40] abompard opened #348 "Add a search term for the Github username"
This would be useful for Badges.

[2022-06-30 09:43] #266 closed, assigned to nobody

[2022-06-30 09:43] #348 closed, assigned to abompard

[2022-08-11 11:12] Zlopez opened #370 "As a user I want to be able to search users by bugzilla e-mail"
Currently it's not possible to search by `rhbzemail` field and if the user in bugzilla has different mail than the FAS e-mail it can't be found directly.
For [scm_request_processor](https://pagure.io/fedora-infra/toddlers/blob/main/f/toddlers/plugins/scm_request_processor.py) toddler this is a way to map bugzilla account with concrete user in Bugzilla review ticket.

## Acceptance Criteria
* `fasj

[2022-08-19 09:33] #370 closed, assigned to nobody

[2022-10-13 15:48] abompard opened #399 "User with no groups cause a 500"
Getting a users's groups when it doesn't have any fails with 500 because the `memberOf` key is not found